.pieces-checkbox {

    --l-bg: calc(var(--surface-l-bg) var(--calc-hover) 8%);

    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: grid;
    place-content: center;
    user-select: none;
    cursor: pointer;
    transition:
        background 0.3s ease,
        border-radius 0.1s ease
    ;

    background: transparent;
    color: hsla(var(--h),var(--s),var(--rule-13),var(--a));

    &>input {
        display: none;
    }

    >.icon {
        display: none;
        font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
    &:has(input:checked) .icon.true { display: block;}
    &:has(input:not(:checked)) .icon.false { display: block;}

    
    &:hover, &:focus {
        background: hsla(var(--h),var(--s),var(--l-bg),var(--a));
    }

    &:active { border-radius: 8px;}

    &:focus-visible {
        outline-offset: 2px;
        outline: 2px solid hsla(var(--h),var(--s),var(--rule-1),var(--a));
    }
}