.piece-search {

    width: 600px;
    position: relative;
    z-index: 1;
    transition: .3s;
    place-self: center;

    &>:nth-child(1) {
        height: 56px;
        border-radius: 56px;
        padding: 8px;
        display: flex;
        align-items: center;
        cursor: var(--cursor-text);
        gap: 8px;
        border-style: solid;
        border-width: 1px;

        &>input {
            all: unset;
            width: 0px;
            flex: 1 1 0%;
            &::placeholder { user-select: none;}
        }

        &>:nth-child(2) { order: -1;}
    }
    &>div:nth-child(2) {
        display: none;
        position: absolute;
        width: 100%;
        aspect-ratio: 1/1;
        
        /* border-style: solid; */
        /* border-width: 0 2px 2px 2px; */

        /* min-height: 240px;
        height: 100vh;
        max-height: calc(2/3 * 100vh);
        border-radius: 0 0 16px 16px;
        &>div {
            padding: 16px;
            display: flex;
            gap: 16px;
        } */
    }
    &.piece-actived {
        &>label:nth-child(1) {
            border-width: 2px;
            border-radius: 24px 24px 0 0 ;
            padding: 8px;
        }

        &>div:nth-child(2) {
            display: grid;
            border-radius: 0 0 24px 24px;
        }
    }
}