.piece-surface {

    position: relative;
    border: none;

    /* m variables */
    --piece-background-color-h: var(--h);
    --piece-text-color-h: var(--h);
    --piece-border-color-h: var(--h);
    --piece-box-shadow-color-h: var(--h);

    /* m settings */
    background: hsla(
        var(--piece-background-color-h),
        var(--s),
        var(--piece-background-color),
        var(--a)
    );
    color: hsla(
        var(--piece-text-color-h),
        var(--s),
        var(--piece-text-color),
        var(--a)
    );
    border-color: hsla(
        var(--piece-border-color-h),
        var(--s),
        var(--piece-border-color),
        var(--a)
    );
    &.piece-box-shadow {
        box-shadow: 0px 0px 4px 0px hsla(
            var(--piece-box-shadow-color-h),
            var(--s),
            var(--piece-box-shadow-color),
            var(--a)
        );
    }

}

.bg-dot {
    background-image: radial-gradient(
        circle at center,
        hsla(var(--h),100%,48%,24%) 0%,
        hsla(var(--h),100%,48%,24%) 16%,
        transparent 1%
    );
    background-size: 8px 8px;
    background-repeat: repeat;
}